#quiz_container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    background-color: aliceblue;
    color: #014180;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#feedback {
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    color: #e31515;
    box-shadow: 0 0 15px rgba(71, 116, 239, 0.1);
    background-color: azure;
}

#results_container {
    color: black;
    max-width:fit-content;
    max-height: fit-content;
    margin: auto;
    border-radius: 8px;
    text-align: center;
    background-color: azure;
}

.question_img {
    width: 500px;
    height: 400px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(43, 29, 29, 0.1);
    border-style: solid;
    border-color: rgb(133, 133, 252);
    border-width: 10px;
    border-radius: 10px;
}

body {
    background-color: rgb(155, 220, 250);
}

li{
    color: blue;
 }

ol {
    color:rgb(141, 24, 237);
 }




